@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Chivo;
}





[class*="col-"] {
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
header{height: 25vh;}
nav{height: auto;}
article{height: auto;}
footer{height: 12.5;}
/* Video HTML */
iframe{width: 400px;}
div #video{width: 400px;} 





  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    article{height: 45vh;}
    /** VIDEO HTML */
    iframe{width: 560px;}
    div #video{width: 560px;} 

    /*  */
    
    
    

    
    
    
    
}
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-lg-0 {display: none;}
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
    
    
}
  

header{

    text-align: center;
    background-color: #19abff;
    background-image: url(../img/logo-doraemon.png);
    background-repeat: no-repeat;
    background-position: center;
    

    
}

.logoPrincipal{
    margin-top: 4vh;
    margin-bottom: 2vh;
    

}

h1{
    padding-top: 6vh;
}

nav{
    text-align: center;
    padding: 3vh 3vw;
    background-color: #e8eaea ;
    
    
}

nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

i{
    font-size: 20px;
    color: #191919;
    cursor: pointer;
}

/*  li {
  display: inline;
  margin: 1vw;
  list-style: none;
  margin: 15px;
  
} */

li {
    
    margin: 1vw;
    list-style: none;
    margin: 15px;
    
  } 

a{
    text-decoration: none; 
}

li a{
    color: #305a96;
}



li a:hover{
 color: #000000;

}


footer {
    
    text-align: center;
    
    background-color: #191919;
    color: white;
    padding: 2vh 0;
    
}

footer a{
    color: #51a1c4;
}

footer a:hover{
    color: white;
} 




