.articulo1{
    
    text-align: center;
    margin-top: 50px;

}

aside{
    
    
    margin-top: 35px;

}

.articulo2{
    text-align: center;
    margin-top: 50px;  
}

.articulo2 section{
    margin-top: 10px;
    text-align:left; 
}

.articulo2 section h3{
    margin-left: 15px;
    text-align:left; 
}



footer{
    margin-top: 3em;
}